h1,p{
    font-family: Futura, 'Times New Roman', Times, serif;
    color: rgb(232, 205, 1);
}

input
    {
    display:block;
    margin: 1em auto;
    background-color: #3b3d3d;
    color: antiquewhite;
    border-radius: 10px;
    border-color: #3b3d3d;
    }
input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em; } 
label
    {
    display: block;
    margin: 1em auto;
    }
form 
    {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding: 2em;
    background-color: #48484b;
    border-radius: 25px;    
    }
    h1, p {
        margin: 1em auto;
        text-align: center;}


.button{
    margin: 1em auto;
    display: flex;
    justify-content: center;
}
button[type="submit"]{
    display: block;
    width: 25%;
    height: 2em;
    font-size: 1.1rem;
    background-color: #727274;
    border-color: white;
    min-width: 200px;
    color: rgb(234, 209, 17);
    border-radius: 25px;
}
body {
    width: 100%;
    height: 250vh;
    margin: 0;
    background-image: url(diane-kruger-5-Enhanced-Edit.jpg);
    background-repeat: no-repeat;
    background-size:100%;

    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px; }   
    
    .inline{
        display: inline; 
      }
    
      