body{
    background: linear-gradient( rgb(3, 158, 197),rgb(83, 146, 182) );
      

}

.header{

    text-align: center;
    color: whitesmoke;
    margin-top: 2%;
    font-size: 125px;
}

.logo{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.main{
    width: 75%;
    background-color:rgba(212, 212, 212, 0.27);
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    
}

a:hover{
    color: rgb(255, 255, 255);
}
a{
    color: rgb(243, 243, 243);
    text-decoration: none ;
}