#header-img{
    width: 10%;
    height: auto;
    filter: grayscale(100%);
    margin: 1rem;
   
    
   
   
    
    
}
header{
    position: fixed;
}

body{
    background-color: rgb(221, 221, 221);
    
    
}

#gif{
    width: auto;
    height: 200px;
    border-radius: 50%;
    filter: grayscale(100%);
}

nav{
    height: 70px;
   line-height: 70px;
  display:flex;
   float: right;
  
   
}
a {
    
    flex-direction: row;
    justify-content: space-around;
    color: #000;
    text-decoration: none;
    
  }
  
  @media (max-width: 1000px) {
    
    }