#image-header{
    width: 25%;
    height: auto;
    border-radius: 50%;
    border: 1rem;
    border-style:solid;
    border-color: rgb(86, 86, 86);
    filter: grayscale(100%);
    display: block;
    margin: auto;
    margin-top: 3rem;
   
   
    
    
}
body{
    background-color: rgb(221, 221, 221);
}