html{
    box-sizing: border-box;

}
.welcome-section{
    height: 100vh;
    width: 100%;
    background-color: rgb(26, 26, 26);
    font-size:4vw;
    color: #afafaf;
    font-family: Goudy Old Style, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
 
    
   
}

body{
    background-color: rgb(201, 201, 201);
    overflow: scroll;
}
.nav-bar{
    
    height: 8vh;
    width: 100%;
    background: linear-gradient(0deg, #FFB300,#9d7111);
    text-align: right;
    padding-top: 3%;
    position: fixed;
        
    justify-content: flex-end;
    top: 0;
    left: 0;
    z-index: 10;
    
}
a{
    padding-right: 2%;
    
}
html{
    scroll-behavior: smooth;
}