* {
    margin: 0;
    padding: 0;
  }
  
html{
    box-sizing: border-box;

}
.welcome-section{
    height: 100vh;
    width: 100%;
    background-color:  #171717;
    color: #DEDEDE;
    font-family: Goudy Old Style, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
 
    
   
}
.welcome-section h1{
    font-size:5vw;
}
.welcome-section p{
    font-size:2vw;
    color:#FFB300;
}


body{
    background-color: rgb(201, 201, 201);
    overflow: scroll;
   
}
.nav-bar{
    
    height: 10vh;
    width: 100%;
    background: linear-gradient(0deg, #FFB300,#9d7111);
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: right;
    top: 0;
    left: 0;
    z-index: 10;
    
}
a{
    padding-right: 2%;
    margin: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: Goudy Old Style;
}
html{
    scroll-behavior: smooth;
    box-sizing: border-box;
}