#nav-bar{
    color:rgb(32, 32, 110);
    width: 250px;
    position: fixed;
    border-right:solid rgb(90, 90, 90);
    height: 100%;
}
a{
    color:rgb(19, 19, 19);
    text-decoration: none;
}
#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
  }
  #nav-bar li{
    list-style: none;
  }