h1{
    text-align: center;
    color: rgb(42, 42, 42);
}
header{
    
    
    padding: 10px;
    max-width: 80%;
    margin: auto;
    border-radius: 10px;
}
main{
    background-color: rgb(194, 194, 194);
    padding: 10px;
    border-radius: 10px;
}
html{
    padding: 25px;
}
figcaption{
    color: rgb(42, 42, 42);
    text-align: center;
}