html{
      scroll-behavior: smooth;
      background-color: black;
}
.mainBod {
      display: flex;
      background-image: url("images/bistroMainImage.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center;
      background-color: black;
      height: 100vh;
      flex-direction: column;
      margin: 0;
      scroll-behavior: smooth;

}

#header {
      display: flex;
      justify-content: space-between; /* name/logo left, nav right */
      align-items: center;            /* vertical centering */
      padding: 100px 1vw 10px 12vh;


}

/* Name + logo stacked vertically */
#branding {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 50px;



}



#name {
      width: 50vw;
      height: auto;

}
#logoContainer{
      width: 600px;
      height: 600px;
      position: relative;

}
#logoContainer.spinning #wheel{
      animation: spinWheel 3s ease-out forwards;
      transform-origin: center;
}
#logoContainer.spinning #backWheel{
      animation: spinWheel 3s ease-out forwards;
      transform-origin: center;
}
#logo {

      margin-top: 30px;
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.2));
      z-index: 1;

}
#wheel{

      width:50%;
      height: auto;
      position: absolute;
      top:31.8%;
      left: 9.5%;
      filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.2));
      z-index: 2;


}

#backWheel{

      width:26%;
      height: auto;
      position: absolute;
      top: 63.5%;
      left: 73.5%;
      filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.2));
      z-index:3;



}

@keyframes spinWheel {
      from {
            transform: rotate(360deg);
      }
      to {
            transform: rotate(0deg);
      }
}
/* Navigation vertical on right, centered vertically */
#navBar {
      display: flex;
      flex-direction: column; /* vertical stack */
      gap: 10px;
      color: white;
      align-items: flex-end;
      margin-right: 150px;


}

#navBar a {
      text-decoration: none;
      color: white;
      font:  35px "Lucida Grande", Futura, sans-serif;
      display: block;
      padding: 30px 30px;
      transition: transform 0.3s ease;
}

#navBar a:hover {
      filter: drop-shadow(0px 1px 3px rgb(213, 167, 10));
      transform: scale(1.1);
}

footer {
      flex-shrink: 0;
      text-align: center;
      padding: 20px;
      background-color: black;
      color: white;
}
.black{
      background-color: black;
      height: 1000px;
}
